/* lay-out */
.container{
	display: grid;
	grid-template-areas:
		"groet"
		"tijd"
		"dag"
		"taak"
		 "optie";
}

.begroeting{
	grid-area: groet;
}

.time{
	grid-area: tijd;
}

.dag{
	grid-area: dag;
}

.taak{
	grid-area: taak;
}

.options{
	grid-area: optie;
}

body{
	font-family: avenir;
	text-align: center;
}

.dag, .begroeting{
	font-size: 25px;
}


.time{
	font-size: 80px;
}



